---
import Users from "../components/Users.jsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User List</title>
  </head>
  <body class="min-h-screen flex items-center justify-center bg-gradient-to-br from-blue-50 to-indigo-100 p-6">
    <Users client:load />
  </body>
</html>